<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/assets/css/index.css" />
	</head>
	<body
		style="
			background: url('<%=background_img%>') no-repeat fixed center;
			background-size: cover;
		"
	>
		<a href="/play">
			<button class="big-button">PLAY</button>
		</a>
	</body>
	<script></script>
</html>
